.title {
    font-family: 'Roboto Slab','Arial', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;

    text-align: center;
    letter-spacing: 2px;

    color: #0d3351;
}
@media (min-width: 301px) and (max-width: 1300px) {
    .title { 
        font-size: 26px;
        letter-spacing: 1px;
    }
}