body {
    max-width: 1673px;
    margin: 0 auto;

    background-color: white;
}
.header {
    z-index: 1;

    width: 100%;
    height: 648px;

    background-image: url(../../assets/img/header/sochi-2258855.png);
}
.header__container {
    height:65px;
    max-width:1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.header__support {
    margin-left: 34px;
}
.header__logo {
    margin: 21px auto 0;
    display: block;
}
.header__title {
    margin-top: 4px;
}
.header__subtitle {
    font-family: 'Roboto Slab','Arial', sans-serif;
    font-size: 100px;
    font-weight: 400;

    margin-top: 16px;
    margin-bottom: 0;

    text-align: center;
    letter-spacing: -3px;
    text-transform: uppercase;

    color: #0d3351;
}
.header__button {
    display: flex;
    height: 33px;
    margin: 29px auto;
    align-items: center;
    justify-content: center;
}
.decor-line {
    margin-right: auto;
    margin-left: auto;
    position: absolute;

    left: 0;
    right: 10px;
    top: 470px;
}
.header__info {
    display: flex;
    align-items: center;
    margin-top: 31px;
}
@media (min-width: 768px) and (max-width: 1300px) {
    body {
        max-width: 1300px;
    }
    .header {
        height: 600px;

        background-image: url(../../assets/img/header/header_tablet.png);
    }
    .header__container {
        max-width: 722px;
    }
    .header__logo {
        width: 70px;
        height: 70px;
        
        margin-top: 78px;
    }
    .header__title {
        letter-spacing: 1.5px;

        margin-top: 0;     
    }
    .header__subtitle {
        font-size: 72px;
        letter-spacing: -2px;

        margin-top: -15px;
    }
    .header__button {
        margin-top: 5px;
    }
    .decor-line {
        width: 45px;
        height: 222px;

        right: 20px;
        top: 415px;
    } 
    .header__info {
        margin-top: 26px;
    }
}
@media (min-width:321px) and (max-width:767px) {
    body{
        max-width: 767px;
    }
    .header{
        height: 584px;

        background-image: url(../../assets/img/header/header_tablet.png);
    }
    .header__container {
        width: 292px;
     }
     .header__logo {
         width: 70px;
         height: 70px;
         margin-top: -16px;
     }
     .header__title {
         margin-top: -2px;
     }
     .header__subtitle {
         font-size: 50px;
         letter-spacing: -2px;
         line-height: 48px;
 
         margin-top: 20px;
     }
     .header__button {
         height: 222px;
         width: 45px;
         margin-top: 20px;
     }
     .decor-line {
         height: 222px;
         width: 45px;
 
         top: 399px;
         right: 20px;
     } 
     .header__support{
         margin-left: 50px;
     }
}
@media (max-width:320px) {
    body {
        max-width: 320px;
    }
    .header {
        height: 583px;

        background-image: url(../.././assets/img/header/header_mobile.png);
    }
    .header__container {
       width: 292px;
    }
    .header__logo {
        width: 70px;
        height: 70px;
        margin-top: -39px;
    }
    .header__title {
        margin-top: -2px;
    }
    .header__subtitle {
        font-size: 50px;
        letter-spacing: -2px;
        line-height: 48px;

        margin-top: 3px;
    }
    .header__button {
        height: 222px;
        width: 45px;
        margin-top: 39px;
    }
    .decor-line {
        height: 222px;
        width: 45px;

        top: 399px;
        right: 20px;
    } 
    .header__support{
        margin-left: 50px;
    }
}