.navigation__item {
    font-family: 'Raleway','Arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 48px;

    margin-left: 18px;

    display: inline-block;

    text-align: center;
    letter-spacing: 1px;

    color: #0d3351;
    background-color: transparent;
    border: none;
}
.navigation__item::after {
    padding-left: 7px;

    content: url(../../../assets/img/header/03.svg);
}
.navigation__item_account::before {
    padding-right: 9px;

    content: url(../../../assets/img/header/user.svg);
}
.navigation__item_currency::before {
    padding-right: 10px;

    content: url(../../../assets/img/header/Р.svg);
}
