.header__navigation
{
    margin-top: 7px;
    margin-left: 863px;
}
.navigation__item
{
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 400;
    line-height: 48px;

    display: inline-block;

    margin-left: 32px;

    text-align: center;
    letter-spacing: 1px;

    color: #0d3351;
}
.navigation__item::after
{
    padding-left: 7px;

    content: url(../../../assets/img/header/03.svg);
}
.navigation__item_account::before
{
    padding-right: 9px;

    content: url(../../../assets/img/header/user.svg);
}
.navigation__item_currency::before
{
    padding-right: 10px;

    content: url(../../../assets/img/header/Р.svg);
}
