.header__burger-menu {
    visibility: hidden;
    width: 22px;
    height: 16px;
}
.burger-menu__icon {
    margin-top: 34px;
    padding: 0;
    
    background-color: transparent;
    border: none;
}
@media (min-width: 301px) and (max-width: 1300px) {
    .header__burger-menu {
        visibility:visible;
    }
}