.footer {
    height:130px;
    width:1140px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    width: 442px;
    margin-top:23px;
}
.menu__item { 
    font-weight: 400;
    font-family: "Raleway","Arial",sans-serif;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 24px;
    
    color: #0d3351;
}
.socials__title {
    font-weight: 400;
    font-family: "Raleway","Arial",sans-serif;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 24px;

    margin-left:9px;

    color: #0d3351;
}
.socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left:10px;
    margin-top:5px;

    border-radius: 15px;

    background-color: #0d3351;
}
.socials__container {
    display:flex;
}
.footer__support {
    margin-top: 27px;

    line-height: 19px;
}
.footer__sign {
    font-size: 14px;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Raleway";

    margin-top: 4px;

    color: #0d3351;
}
.footer__container {
    margin-right:-10px;
}
@media (min-width:321px) and (max-width:1300px) {
    .footer {
        width: 720px;
    }
    .footer__info {
        width:369px;
    }
}
@media (max-width:320px) {
    .footer {
        height:200px;
        width: 244px;
        display: flex;
        flex-direction: column;
    }
    .footer__menu {
        display: none;
    }
    .footer__info {
        text-align: center;
        
        width: 200px;
        margin-left: 37px;
    }
    .footer__container {
        margin-top: -11px;
        margin-left: 59px;
        height: 200px;
    }
    .footer__sign {
        letter-spacing: 0.55px;

        margin-top: 3px;
        margin-left: -57px;
    }
}