.button {
    font-family: 'Raleway','Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;

    width: 202px;
    height: 47px;

    text-align: center;
    letter-spacing: 1px;

    color: white;
    border: none;
    background-color: #33c7fd;
}
.button:hover {
    background-color: #13b0e9;

    cursor: pointer;
}
.button:active {
    border: none;
    background-color: #64d6ff;

    cursor: pointer;
}

